.logo img {
    height: 30px;
    width: 111px;
}
.footer{
    background-color: rgba(233, 218, 218, 0.897);
}
.col-md-3{
    text-align: center;
}
.col-md-3 ul li {
    text-decoration: none;
    text-align: center;
    list-style: none;

}